<a href="https://colab.research.google.com/github/luisosmx/Udemy_python/blob/main/Bucle_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [
    "Esto es un texto", #cadena
    (1,5,10,15,20,25), #tupla
    ["Azul", "Verde", "Amarillo"] #lista
]

In [ ]:
for coleccion in lista:
  print(coleccion)

Esto es un texto
(1, 5, 10, 15, 20, 25)
['Azul', 'Verde', 'Amarillo']

In [ ]:
for coleccion in lista:
  for elemento in coleccion:
    print(coleccion, "->", elemento)

Esto es un texto -> E
Esto es un texto -> s
Esto es un texto -> t
Esto es un texto -> o
Esto es un texto ->
Esto es un texto -> e
Esto es un texto -> s
Esto es un texto ->
Esto es un texto -> u
Esto es un texto -> n
Esto es un texto ->
Esto es un texto -> t
Esto es un texto -> e
Esto es un texto -> x
Esto es un texto -> t
Esto es un texto -> o
(1, 5, 10, 15, 20, 25) -> 1
(1, 5, 10, 15, 20, 25) -> 5
(1, 5, 10, 15, 20, 25) -> 10
(1, 5, 10, 15, 20, 25) -> 15
(1, 5, 10, 15, 20, 25) -> 20
(1, 5, 10, 15, 20, 25) -> 25
['Azul', 'Verde', 'Amarillo'] -> Azul
['Azul', 'Verde', 'Amarillo'] -> Verde
['Azul', 'Verde', 'Amarillo'] -> Amarillo

In [ ]:
for indice_coleccion, coleccion in enumerate(lista):
  for indice_elemento, elemento in enumerate(coleccion):
    print(lista[indice_coleccion][indice_elemento])

E
s
t
o

e
s

u
n

t
e
x
t
o
1
5
10
15
20
25
Azul
Verde
Amarillo

In [ ]:
tabla = [
  [0,0,0],
  [1,1,1],
  [2,2,2]
]
for fila in tabla:
  for columna in fila:
    print(columna)

0
0
0
1
1
1
2
2
2

In [ ]:
for fila in tabla:
  for columna in fila:
    print(columna, end=" ")

0 0 0 1 1 1 2 2 2

In [ ]:
for fila in tabla:
  for columna in fila:
    print(columna, end=" ")
  print()

0 0 0
1 1 1
2 2 2

In [ ]:
for i,fila in enumerate(tabla):
  for j, columna in enumerate(fila):
    print(tabla[i][j], end=" ")
  print()

0 0 0
1 1 1
2 2 2

In [ ]:
tabla = [
  [0,0,0],
  [1,1,1],
  [2,2,2]
]
cubo = [
    tabla, tabla, tabla
]

In [ ]:
print(cubo[0][0][0])

0

In [ ]:
print(cubo[2][1][2])

1

In [ ]:
for tabla in cubo:
  for fila in tabla:
    for columna in fila:
      print(columna)

0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2

In [ ]:
for k, tabla in enumerate(cubo):
  for i, fila in enumerate(tabla):
    for j, columna in enumerate(fila):
      print(cubo[k][i][j], end=" ")
    print()
  print()

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

In [ ]:
matriz = [
    [8,  7,  0],
    [34, 2, -1],
    [5, -5, 12]
]

In [ ]:
# Primero recorremos todas las filas de la matriz con un for
# Necesitamos usar un enumerador para poder guardar su índice de fila
for i, fila in enumerate(matriz):
    # Dentro de cada fila recorremos cada columna con otro for
    # Necesitamos usar un enumerador para poder guardar su índice de columna
    for j, columna in enumerate(fila):
        # A partir de ambos índices podemos comprobar la celda actual
        # Si es par asignamos a la celda un 0
        if matriz[i][j] % 2 == 0:
            matriz[i][j] = 0
        # En caso contrario, si es impar, le asignamos un 1
        else:
            matriz[i][j] = 1
            print(matriz[i][j], end=" ")

1 1 1 1

In [15]:
lista = [
    "hola",
    [1,2]
]

In [14]:
type(lista)

list

In [17]:
for element in lista:
  for element_2 in element:
    print(element_2)

h
o
l
a
1
2

In [11]:
type(element)

list

In [1]:
lista = [
    1,
    "Hola",
    [2,3],
    (4,5)
]

In [6]:
for elemen in lista:
  if type(elemen) == "list":
    print[elemen[0] + elemen[1]]
  elif type(elemen) == "str":
    print(len(elemen))
  elif type(elemen) == "tuple":
    elemen_1 = list(elemen)